.scrollbarThin {
  scrollbar-width: "thin";
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 5px;
    z-index: -1;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #7a52e7;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #8f5ec7;
  }
}
